.arcgis-tip #map {
  height: 400px;
  width: 100%;
}

#tip-table_wrapper {
  margin-top: 1em;
}

#tip-advanced-filters {
  background-color: #eeeeee;
  clear: both;
  padding: 1em;
}

.tip-filter {
  display: inline-block;
  margin: 0 1em 1em 0;
}

.tip-filter label {
  margin-right: 0.5em;
}

.tip-filter-reset {
  vertical-align: middle;
}

div.dt-button-collection {
  width: 15em;
}

#tip-table tr td {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

#tip-table tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

/* Disable DataTables styles that conflict with Tablepress styles. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none;
}
