.arcgis-tip #map {
  height: 400px;
  width: 80%;
}

.arcgis-tip #info-pane {
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 400px;
  float: right;
  overflow-y: scroll;
  padding: 1em;
  width: 20%;
}

.arcgis-tip .message-info {
  background-color: #dff1f7;
  border: 1px solid #1595bf;
  font-size: 0.9em;
  padding: 0.1em 0.5em;
}

.arcgis-tip .message-info::before {
  background-color: #1595bf;
  color: white;
  content: "!";
  display: inline-block;
  font-weight: bold;
  margin: -0.1em 0.5em -0.1em -0.5em;
  padding: 0.1em 0.5em;
}

.arcgis-tip #legend table {
  margin-bottom: 0;
}

.arcgis-tip #feature-attributes {
  font-size: 0.85em;
}

.arcgis-tip #feature-attributes h2 {
  font-size: 1.3em;
}

.arcgis-tip #feature-attributes dd {
  margin: 0 0 1em 0;
}

#tip-table_wrapper {
  margin-top: 1em;
}

#tip-advanced-filters {
  background-color: #eeeeee;
  clear: both;
  padding: 1em;
}

.tip-filter {
  display: inline-block;
  margin: 0 1em 1em 0;
}

.tip-filter label {
  margin-right: 0.5em;
}

.tip-filter-reset {
  vertical-align: middle;
}

div.dt-button-collection {
  width: 15em;
}

#tip-table tr td {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

#tip-table tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

/* Disable DataTables styles that conflict with Tablepress styles. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none;
}
