.arcgis-tip #map {
  height: 400px;
  width: 100%;
}

#tip-table_wrapper {
  margin-top: 1em;
}

.tip-filter label {
  margin-right: 0.5em;
}

/* Disable DataTables styles that conflict with Tablepress styles. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none;
}
